:root{
    --main-title-color: #2E2F42;
    --second-title-color: #434455;
--main-button-color:  #FFFFFF;;
--second-button-color:#404BBF ;
}




body{

    font-family: 'roboto'

}
.link{
    text-decoration: none;
}

.list{

    list-style: none;
}
.header {
}
.navigation {
}
.Header-logo {
    font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
/* identical to box height, or 133% */

display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;

/* NAVY BLUE */

color: var(--main-title-color, #2E2F42);
}
.logo-accent{
    color: #404BBF;
}

.header-list .header-link.current{
    color: #404BBF;
}

.header-item{

}


.header-link {

font-weight: 500;
font-size: 16px;
line-height: 1.5;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* NAVY BLUE */

color:var(--main-title-color, #2E2F42);


}
.header-link:hover, .header-link:focus{
    color: #404BBF;
}

.header-tel{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* SLATE */

color: var(--second-title-color, #434455);
}

.header-tel:hover, .header-tel:focus{
    color: #404BBF;
}
.header-btn {
    font-family: inherit
font-weight: 500;
font-size: 16px;
line-height: 1.33;
/* identical to box height, or 150% */


color: #FFFFFF;
background-color: #4D5AE5 ;

cursor: pointer;


}

.first-section{
    background: var(--main-title-color, #2E2F42);
}

.header-title{/* Header 1 */

    font-size: 56px;
    line-height: 1.07;
    /* or 107% */
    
    
    color: #FFFFFF;

}

.header-btn:hover,.header-btn:focus{color: var(--main-button-color, #ffffff);
    background-color:var(--second-button-color, #404BBF);
    cursor: pointer;
}




.hero {
}

.hero-list {
}
.list {
}
.hero-item {
}
.hero-small-title {font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    /* identical to box height, or 120% */
    
    letter-spacing: 0.02em;
    
    /* NAVY BLUE */
    
    color: var(--main-title-color, #2E2F42);
    
}
.hero-text {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.50;
/* or 150% */

letter-spacing: 0.02em;

/* SLATE */

color: var(--second-title-color, #434455);
}








.about {
    background-color: #F4F4FD;;
}
.about-title {/* Header 2 */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    /* identical to box height, or 111% */
    

    
    
    
    color: var(--main-title-color, #2E2F42);
}
.about-item {
}
.about-pic {
}
.about-small-title{/* Header 3 */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    /* identical to box height, or 120% */
    

    /* NAVY BLUE */
    
    color: var(--main-title-color, #2E2F42);
    

}
.about-text {/* Body */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    /* identical to box height, or 150% */
 
    
    /* SLATE */
    
    color: var(--main-title-color, #434455);
}

footer{
    background: var(--main-title-color, #2E2F42);
}

.footer-logo {/* Studio */


    width: 71px;
    height: 22px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    /* identical to box height */
    
   
    
    /* CLOUD */
    
    color: #F4F4FD;
}
.footer-text {font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    /* or 150% */
    
 
    /* CORNFLOWER */
    
    color: #E7E9FC;
}

.filter-btn{
    font-family: inherit;
    /* font-style: normal; */
    font-weight: 500;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: 0.04em;
    cursor: pointer;
  color: #4D5AE5;
  background-color: #E7E9FC;
}

.filter-btn:hover, .filter-btn:focus{
    background-color: #404bbf;
    color: #FFFFFF;
}


.list-title {
    color: #2E2F42;
}.list {
}
.list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
}

.filter-link{
    color: #2E2F42;
}